body {
    font-family: "Kumbh Sans", sans-serif;
}

main {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
}

.card {
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    gap: 20px;
}

span,
.city,
.value p:last-child {
    color: var(--text-color);
    font-weight: 400;
}

.value p:first-child {
    font-weight: 700;
}

.numbers {
    display: flex;
    border-top: 1px solid var(--text-color);
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
}